/* Start Logo */

h1 {
    color: gray;
    padding: 16px;
    text-align: center;
    font-family: 'Pacifico', cursive;
}

span {
    color: orange;
    text-shadow: 2px 2px 2px #cc0000;
}


/* Start header */

.header {
    width: 90vh;
    position: relative;
    margin: 0 auto;
}